---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

$base-font-family: 'Korolev', sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.7;

$spacing-unit:     30px;

$text-color:       #333;
$background-color: #fdfdfd;
$brand-color:      #333;
$gold-highlight:   #EA9C37;
$deep-purple:      #460922;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    1000px;
$on-palm:          650px;
$on-laptop:        1200px;

// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

@mixin center-item {
    display: block;
    margin: 0 auto;
}

@mixin transition {
    transition: all .25s;
    -webkit-transition: all .25s;
}

// Import partials from `sass_dir` (defaults to `_sass`)
// Do not make any changes to this file. Go to /_sass and find the appropriate SCSS file and make changes there.
@import
        "style",
        "google-fonts"
;

// Base styles
a:hover {
    @include transition;
    color: $gold-highlight;
}


// Home styles
div.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 25px;

    div.flex-item {
        flex: 1;
    }

    div.sidebar {
        order: 1;
        margin-right: 30px;
        padding: 15px;

        img {
            display: block;
            margin: 0 auto 15px;
            height: 150px;
            width: 150px;
            border-radius: 50%;
            border: 3px solid $brand-color;
        }

        h1 {
            @include center-item;
            font-size: 25px;
            width: 175px;
            text-align: center;
            line-height: 2rem;
        }

        div.nav {
            font-size: 20px;
            display: block;
            margin: 0 auto;
            margin-top: 15px;
            width: 120px;

            &.social {
                width: 110px;
                font-size: 30px;

                i {
                    margin-right: 8px;

                    &.ion-paper-airplane {
                        margin-right: 0;
                    }
                }
            }
        }
    }
    div.main {
        order: 2;
        flex-grow: 2;
    }

    @include media-query($on-palm) {
        div.sidebar {
            margin-right: 0;
        }
        .wrapper {
            padding-right: $spacing-unit / 2;
            padding-left: $spacing-unit / 2;
        }
        div.flex-item {
            flex-basis: 100%;
        }
    }
}

div.post-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    div.post {
        flex: 1;
        flex-basis: 100%;
        margin-bottom: 20px;

        a.headline-link:hover {
            color: #888;
        }

        h3 {
            position: relative;
            text-decoration: none;
            margin-bottom: 8px;
            font-size: 15px;
            line-height: 1.3;
            margin-bottom: 8px;
        }

        h3::after {
            content: "";
            position: absolute;
            top: 60%;
            right: 0;
            width: 98%;
            height: 6px;
            background: $gold-highlight;
            opacity: .7;
            z-index: -100;
        }

        div.img-wrapper {
            width: 49%;
            float: left;
            margin-right: 1.5%;
        }
        div.meta-wrapper {
            width: 49%;
            float: left;
        }

        &:hover {
            @include transition;
        }

        p {
            font-family: $base-font-family;
            font-size: 14px;
            line-height: 1.25rem;
        }
        @include media-query($on-palm) {
            margin-right: 0;
        }
    }
    @include media-query($on-palm) {
        div.post div.img-wrapper, div.post div.meta-wrapper {
            width: 100%;
        }
        div.post h3::after {
            display: none;
        }
        div.post {
            border-top: 6px solid rgba($gold-highlight, .7);
            padding-top: 10px;
        }
    }
}

div.about {
    color: $brand-color;

    h3 {
        font-family: $base-font-family;
        font-weight: 400;
    }

    p.about-intro {
        font-size: 28px;
    }

    strong {
        color: $gold-highlight;
    }
}
