---
layout: default
---

<div class="post-container">
{% for post in site.posts %}
    {% if post.published != 'false' %}
            <div class="post">
                <a class="headline-link" href="{{ post.project-url }}">
                    <h3>{{ post.project-title }}</h3>
                </a>
                <div class="img-wrapper">
                    <img alt="{{ post.title }}" src="{{ site.baseurl }}/img/thumbnails/{{ post.img }}" />
                </div>
                <div class="meta-wrapper">
                    <p class="description">{{ post.project-date }}</p>
                    <p class="description">{{ post.role }}</p>
                    <p class="description">{{ post.tldr }} {% if post.code %}View the <a href="{{ post.code }}">code</a>.{% endif %}</p>
                </div>
            </div>
    {% endif %}
{% endfor %}
</div>
