---
layout: default
---

<div class="post-container">
{% for post in site.posts %}
    {% if post.published != 'false' %}
            <div class="post">
                <a href="{{ post.project-url }}">

                    <img alt="{{ post.title }}" src="{{ site.baseurl }}/img/thumbnails/{{ post.img }}" />
                    <h3>{{ post.project-title }}</h3>
                    <!-- {% for p in post.description %}
                        <p class="description">{{ p.para }}</p>
                    {% endfor %} -->
                </a>
            </div>
    {% endif %}
{% endfor %}
</div>
