
    <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Portfolio &amp; Projects</h2>
                    <hr class="star-primary">
                    <h3 class="featured-work">Featured Work</h3>
                </div>
            </div>
            <div class="row">
                {% for post in site.posts %}
                    <div class="col-sm-4 portfolio-item">
                        <a href="#portfolioModal-{{ post.modal-id }}" class="portfolio-link" data-toggle="modal">
                            <div class="caption">
                                <div class="caption-content">
                                    <!-- <i class="fa fa-search-plus fa-3x"></i> -->
                                    {{ post.project-title }}
                                </div>
                            </div>
                            <img src="img/thumbnails/{{ post.img }}" class="img-responsive" alt="{{ post.alt }}">
                        </a>
                    </div>
                {% endfor %}
            </div>
            <div class="row">
                <h2 class="work-archive">Full Work Archive</h2>
                <hr class="star-primary">

                <div class="col-sm-6">
                    <h3>Graphics</h3>

                    <div class="quicklinks-posts">
                        <a href="http://www.npr.org/2017/02/28/517523714/what-we-know-about-the-trump-house-gop-tax-plans-so-far" target="blank"><p class="quicklink"><span class="bold">Table, chart</span>: What We Know About The Trump, House GOP Tax Plans So Far</p></a>
                        <a href="http://www.npr.org/sections/codeswitch/2017/02/22/515820280/low-income-pocs-still-don-t-trust-the-police-but-would-work-with-them" target="blank"><p class="quicklink"><span class="bold">Charts</span>: Low-Income PoCs Still Don't Trust The Police, But Would Work With Them</p></a>
                        <a href="http://www.npr.org/2017/01/30/512052311/va-hospitals-still-struggling-with-adding-staff-despite-billions-from-choice-act?live=1" target="blank"><p class="quicklink"><span class="bold">Charts</span>: VA Hospitals Still Struggling With Adding Staff Despite Billions From Choice Act</p></a>
                        <a href="http://www.npr.org/sections/thetwo-way/2017/01/17/510271789/gulf-between-richest-and-poorest-is-wider-than-previously-thought-oxfam-says" target="blank"><p class="quicklink"><span class="bold">Table</span>: Gulf Between Richest And Poorest Is Wider Than Previously Thought, Oxfam Says</p></a>
                        <a href="http://www.npr.org/sections/health-shots/2017/01/12/509374443/obesity-linked-diagnoses-on-the-rise-among-kids-and-teens" target="blank"><p class="quicklink"><span class="bold">Chart</span>: Obesity-Linked Diagnoses On The Rise Among Kids And Teens</p></a>
                        <a href="http://www.npr.org/sections/thetwo-way/2016/12/30/507536360/number-of-police-officers-killed-by-firearms-rose-in-2016-study-finds" target="blank"><p class="quicklink"><span class="bold">Chart</span>: Number Of Police Officers Killed By Firearms Rose In 2016, Study Finds</p></a>
                        <a href="http://www.npr.org/sections/thetwo-way/2016/12/21/506183108/death-sentences-and-executions-are-down-but-voters-still-support-death-penalty-l" target="blank"><p class="quicklink"><span class="bold">Chart</span>: Death Sentences And Executions Are Down, But Voters Still Support Death Penalty Laws</p></a>
                        <a href="http://www.npr.org/2016/12/19/505570682/in-memoriam-2016" target="blank"><p class="quicklink"><span class="bold">Grid</span>: In Memoriam 2016</p></a>
                        <a href="http://www.npr.org/2016/11/15/502032052/lots-of-people-voted-for-obama-and-trump-heres-where-in-3-charts" target="blank"><p class="quicklink"><span class="bold">Chart post</span>: The Counties That Flipped From Obama To Trump, In 3 Charts</p></a>
                        <a href="http://www.npr.org/2016/11/13/501739277/who-benefits-from-donald-trumps-tax-plan" target="blank"><p class="quicklink"><span class="bold">Table</span>: Who Benefits From Donald Trump's Tax Plan?</p></a>
                        <a href="http://www.npr.org/2016/07/08/485274691/dallas-has-been-called-a-leader-in-police-training-transparency" target="blank"><p class="quicklink"><span class="bold">Chart</span>: Dallas Has Been Called A Leader In Police Training, Transparency</p></a>
                        <a href="http://www.npr.org/2016/06/30/483687093/the-270-project-try-to-predict-who-will-win-the-election" target="blank"><p class="quicklink"><span class="bold">Interactive</span>: The 270 Project: Try To Predict Who Will Win The Election</p></a>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-12">
                            <h3>Data Analysis + Viz</h3>

                            <div class="quicklinks-posts">
                                <a href="http://www.npr.org/sections/ed/2017/02/23/512451228/5-million-english-language-learners-a-vast-pool-of-talent-at-risk" target="blank"><p class="quicklink"><span class="bold">Chart post</span>: English Language Learners: How Your State Is Doing</p></a>
                                <a href="http://www.npr.org/sections/goatsandsoda/2017/02/07/512634375/map-find-out-what-new-viruses-are-emerging-in-your-backyard" target="blank"><p class="quicklink"><span class="bold">Map, chart</span>: MAP: Find Out What New Viruses Are Emerging In Your Backyard</p></a>
                                <a href="http://www.npr.org/sections/thetorch/2016/08/11/488547451/team-usa-lives-here-where-americas-rio-olympians-are-from" target="blank"><p class="quicklink"><span class="bold">Lookup</span>: Team USA Lives Here: Where America's Rio Olympians Are From</p></a>
                                <a href="http://www.npr.org/sections/thetorch/2016/08/11/487838010/what-team-usa-looks-like-a-by-the-numbers-look-at-america-s-olympic-athletes" target="blank"><p class="quicklink"><span class="bold">Chart post</span>: What Team USA Looks Like: A By-The-Numbers Look At America's Olympians</p></a>
                                <a href="http://www.npr.org/sections/alltechconsidered/2016/06/17/482483537/semi-automatic-weapons-without-a-background-check-can-be-just-a-click-away" target="blank"><p class="quicklink"><span class="bold">Map, chart</span>: Semi-Automatic Weapons Without A Background Check Can Be Just A Click Away</p></a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <h3>News Applications</h3>

                            <div class="quicklinks-posts">
                                <a href="http://apps.npr.org/best-music-2016/" target="blank"><p class="quicklink"><span class="bold">App</span>: The Best Music of 2016</p></a>
                                <a href="http://apps.npr.org/rockymountain-vr/" target="blank"><p class="quicklink"><span class="bold">App</span>: Stand At The Edge Of Geologic Time</p></a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
