<!-- Timeline Section -->
    <section id="resume">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">R&eacute;sum&eacute;</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
            </div>
            <div class="row">
              <div class="col-lg-7">
                <h3>Experience</h3>
                  <ul class="timeline">
                      <li>
                          <div class="timeline-image">
                              <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                          </div>
                          <div class="timeline-panel">
                              <div class="timeline-heading">
                                  <h4>2009-2011</h4>
                                  <h4 class="subheading">Our Humble Beginnings!</h4>
                              </div>
                              <div class="timeline-body">
                                  <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                              </div>
                          </div>
                      </li>
                      <li>
                          <div class="timeline-image">
                              <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                          </div>
                          <div class="timeline-panel">
                              <div class="timeline-heading">
                                  <h4>March 2011</h4>
                                  <h4 class="subheading">An Agency is Born</h4>
                              </div>
                              <div class="timeline-body">
                                  <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                              </div>
                          </div>
                      </li>
                      <li>
                          <div class="timeline-image">
                              <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                          </div>
                          <div class="timeline-panel">
                              <div class="timeline-heading">
                                  <h4>December 2012</h4>
                                  <h4 class="subheading">Transition to Full Service</h4>
                              </div>
                              <div class="timeline-body">
                                  <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                              </div>
                          </div>
                      </li>
                      <li>
                          <div class="timeline-image">
                              <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                          </div>
                          <div class="timeline-panel">
                              <div class="timeline-heading">
                                  <h4>July 2014</h4>
                                  <h4 class="subheading">Phase Two Expansion</h4>
                              </div>
                              <div class="timeline-body">
                                  <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                              </div>
                          </div>
                      </li>
                      <!-- add li with class of "timeline-inverted" to change the side of the text -->
                  </ul>
              </div>
              <div class="col-lg-5 col-md-12 sidebar">
                <div class="row">
                  <div class="col-md-6 col-xs-12 col-lg-12">
                    <div class="sidebar-sections skills">
                      <h3>Skills</h3>
                      <div class="row">
                        <div class="col-md-4 col-sm-6">
                          <ul>
                            <li>HTML5</li>
                            <li>CSS3</li>
                            <li>Sass &amp; Less</li>
                            <li>JavaScript</li>
                            <li>jQuery</li>
                            <li>Python</li>
                          </ul>
                        </div>
                        <div class="col-md-8 col-sm-6">
                          <ul>
                            <li>Git version control</li>
                            <li>Content management systems</li>
                            <li>Adobe Creative Cloud</li>
                            <li>Graphic Design</li>
                            <li>Motion Graphics</li>
                            <li>3D Modeling</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="sidebar-sections education">
                      <h3>Education</h3>
                      <h4 class="subheading">B.A. in Media and Journalism</h4>
                      <p>
                        <strong>University of North Carolina</strong><br />
                        Minor: Women's and Gender Studies<br />
                        with Distinction
                      </p>
                    </div>
                  </div>
                  <div class="col-md-6 col-xs-12 col-lg-12">
                    <div class="sidebar-sections awards">
                      <h3>Honors and Awards</h3>
                      <ul>
                        <li>5-time Dean's List Awardee</li>
                        <li>4-time Hayden B. Renwick Academic Awardee</li>
                        <li>John H. Stembler Scholar</li>
                        <li>Stuart Sechriest Award for Outstanding<br />Graduating Senior in Visual Communitcation</li>
                      </ul>
                    </div>
                    <div class="sidebar-sections affiliations">
                      <h3>Affiliations</h3>
                      <ul>
                        <li>UNC School of Media and Journalism Ambassador</span></li>
                        <li>National Association of Black Journalists</li>
                        <li>UNC Minority Advisory Program</li>
                        <li>Chuck Stone Program for Diversity in Education and Media</li>
                        <li>ProPublica's Diversity Mentorship Program</li>
                        <li>Sharoky Fellow</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </section>
