@charset "utf-8";
// @import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");

$base-font-family: "Roboto Condensed", sans-serif;
$base-font-size: 16px;
$base-font-weight: 400;
$small-font-size: $base-font-size * 0.875;
$base-line-height: 1.7;

$spacing-unit: 30px;

$text-color: #333;
$background-color: #fdfdfd;
$brand-color: #333;
$gold-highlight: #ea9c37;
$deep-purple: #460922;

$grey-color: #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark: darken($grey-color, 25%);

// Width of the content area
$content-width: 1000px;
$on-palm: 650px;
$on-laptop: 1200px;

// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
	@media screen and (max-width: $device) {
		@content;
	}
}

@mixin center-item {
	display: block;
	margin: 0 auto;
}

@mixin transition {
	transition: all 0.25s;
	-webkit-transition: all 0.25s;
}

html,
body {
	height: 100%;
}

body {
	max-width: $content-width;
	font-family: $base-font-family;
	margin: 0 auto;
	line-height: $base-line-height;
	font-size: $base-font-size;
	color: $text-color;
	padding: 2em 1em;
	text-rendering: optimizeLegibility;
	height: 100%;
	@include media-query($on-palm) {
		max-width: 100%;
		padding: 1em;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $base-font-family, "Helvetica Neue", Helvetica, sans-serif;
	font-weight: bold;
	line-height: 1.8;
	margin: 0;
	text-transform: capitalize;
}

a {
	transition: all 0.25s;
	-webkit-transition: all 0.25s;
	color: $brand-color;
	text-decoration: none;
	&:hover {
		color: $text-color;
	}
}

p a {
	color: $text-color;
	text-decoration: none;
	background: -webkit-linear-gradient(
		transparent 90%,
		lighten($brand-color, 10%) 10%
	);
	box-shadow: inset 0 0 0 0 lighten($gold-highlight, 10%);
	-webkit-transition: box-shadow ease 1s;
	-moz-transition: box-shadow ease 1s;
	transition: box-shadow ease 1s;
	&:hover {
		color: lighten($background-color, 50%);
		box-shadow: inset 0 -100px 0 0 lighten($gold-highlight, 10%);
	}
}

figure {
	margin: 0;
}

img {
	max-width: 100%;
}

pre,
code {
	overflow: auto;
	font-size: 0.7 * $base-font-size;
	border-radius: 3px;
	border: 1px solid $brand-color;
	> code {
		border: none;
	}
}
pre {
	padding: 1em;
}
code {
	padding: 0.1em;
}
blockquote {
	border-left: 2px solid $brand-color;
	padding-left: 1em;
	font-family: Georgia, Times, Times New Roman, serif;
	font-size: 0.9 * $base-font-size;
	font-style: italic;
}

.headline,
.post-headline {
	font-size: 4em;
	margin-bottom: 0.5em;

	@include media-query($on-palm) {
		font-size: 2em;
	}
}

/* Home Button */
.home {
	// background-image: url(../images/left-arrow.svg);
	background-repeat: no-repeat;
	height: 40px;
	width: 40px;
	opacity: 0.9;
	position: fixed;
	top: 50px;
	left: 50px;
	&:hover {
		opacity: 1;
	}
	@include media-query($on-laptop) {
		top: 90%;
		left: 90%;
		height: 30px;
		width: 30px;
		opacity: 0.6;
	}
}

/* Article list in index/home page */
.article-list {
	margin: 1em 0;
}

/* Add video class for iframes to make them responsive */
.video {
	width: 100%;
	height: 360px;
	@include media-query($on-laptop) {
		height: 300px;
	}
	@include media-query($on-palm) {
		height: 180px;
	}
}

// Adding 'Contents' headline to the TOC
#markdown-toc::before {
	content: "Contents";
	font-weight: bold;
}

// Using numbers instead of bullets for listing
#markdown-toc ul {
	list-style: decimal;
}

#markdown-toc {
	border: 1px solid $brand-color;
	padding: 1.5em;
	list-style: decimal;
	display: inline-block;
}

/* Theme switch button */
.theme {
	cursor: pointer;
}

/* Footer */
footer {
	position: relative;
	top: 2em;
}

/* Footer navigation links */
.links a {
	margin-right: 1em;
}

/* Footer copyrights */
.copy {
	color: #aaa;
}

/* Horizontal Divider */
.divider {
	margin: 1em 0;
}

p.description:first-child {
	margin-top: 7px;
}
